<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Secret.plist
   linphone-swift-demo

   Created by Sachin Kumar Patra on 5/23/18.
   Copyright (c) 2018 WiAdvance. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>account</key>
        <string>918892724917</string>
        <key>password</key>
        <string>123</string>
        <key>domain</key>
        <string>192.168.0.103:5060</string>
    </dict>
</plist>
